<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centered Form</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div style="padding: 0px"></div>
    <div class="form-container">
      <form method="POST" class="custom-form">
        <h2>Login</h2>
        <label for="user_name" class="label-style"> Username </label>
        <input type="text" name="user_name" placeholder="Username" /> <br />
        <label for="password" class="label-style">Password </label>
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Submit</button>
        <br />
      </form>
    </div>
  </body>
</html>
