<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logs</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    {%include 'components/header.html' %}
    <div style="padding: 60px 20px 20px"></div>
    <div class="custom-form" style="max-width: 1000px">
      <h2 style="position: sticky">Logs</h2>
      <table>
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Account</th>
            <th>Log</th>
          </tr>
        </thead>
        <tbody>
          {% for item in log_items %}
          <tr>
            <td>{{ item.timestamp }}</td>
            <td><strong>{{ item.company }}</strong></td>
            <td>{{ item.record }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
